<footer class="footer pagewidth">

  <div class="grid">
    <div class="grid-item xlarge--one-third xlarge--text-left">
      Clone of <a href="https://github.com/Shopify/shopify.github.com">this</a>, by <a href="http://tylershambora.com">me</a>, in © {{ site.time | date: "%Y" }}.
    </div>
    <div class="grid-item xlarge--one-third">
      <a href="https://twitter.com/tshamz" class="twitter-link"><span class="under">Follow me</span> <i class="icon-twitter"></i></a>
    </div>
    <div class="grid-item xlarge--one-third xlarge--text-right">
      Want to contribute? Too bad. <a href="https://www.donaldjtrump.com">Go find your own.</a>
    </div>
  </div>

</footer>
