<div class="hero-header">
  <div class="pagewidth grid">
    <div class="grid-item xlarge--one-half xlarge--text-center">
      <h2>Work for the man.</h2>
      <p>
        Or don't. I don't care and I'm pretty sure he doesn't either. Just make sure you that whoever you go work for, that they're supplying you with some dope nap spots. Doesn't have to be a pod, or some pillow fort thing, just a spot where you can catch a quick 😴. Priorities son.
      </p>
    </div>
    <div class="grid-item xlarge--one-half xlarge--text-center developer-community">
      <h2>Join a local elderly sports team</h2>
      <p>
        And start dominating on those fools. Haven't you ever wondered what it's like to Lebron James? Where life is so easy that you have to be the star <em>and</em> the coach at the same time just keep yourself challenged? Now's your chance.
      </p>
    </div>
  </div>
</div>
